<h1>Welcome!</h1>

<p>
	<%= link_to 'Logs', controller: 'logs' %> | <%= link_to 'LOG', new_log_path %>
</p>

<p>
	<%= link_to 'Games', controller: 'games' %> | <%= link_to 'ADD', new_game_path %>
</p>

<p>
	<%= link_to 'Players', controller: 'players' %> | <%= link_to 'ADD', new_player_path %>
</p>