<div class="container">

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<p>
  <strong>Player count:</strong>
  <%= @game.pcount %>
</p>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back to Games', games_path %>

</div>
