<%= form_with(model: log, local: true) do |form| %>
  <% if log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(log.errors.count, "error") %> prohibited this log from being saved:</h2>

      <ul>
      <% log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :pcount %>
    <%= form.number_field :pcount %>
  </div>

  <div class="field">
    <%= form.label :game_id %>
    <%= form.select :game_id, (Game.all.collect {|g| [ g.name, g.id ]}).sort %>
  </div>

  <div class="field">
    <%= form.fields_for :player_scores do |builder| %>
      <p>
        <%= builder.label :player_id %>
        <%= builder.select :player_id, (Player.all.collect {|p| [ p.name, p.id ]}).sort %>
        <%= builder.label :_destroy, "Delete player" %>
        <%= builder.check_box :_destroy %>
        <%= builder.label :score %>
        <%= builder.number_field :score %>
      </p>

    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
